@import 'base/variables';
@import 'base/mixins';
@import 'base/smart-grid';
* {
	font-family: 'Lato', sans-serif;
}
h1, h2, h3, h4, h5, h6, ul {
	margin: 0;
	padding: 0;
}

.container {
	@include container();
	@include sm(max-width, rem(510));
	@include md(max-width, rem(690));
	@include lg(max-width, rem(930));
	@include xl(max-width, rem(1110));
}

body{
    background-color: #f1f4f7;
}
a{
    text-decoration: none;
    color:#388ec3;
}
button{
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

@import 'blocks/header.scss';
@import 'blocks/buttons';
@import 'blocks/sort';
@import 'blocks/cards';
@import 'blocks/pagination';
@import 'blocks/footer';
@import 'blocks/media';
