
.header {
    width: 100%;
    background-color: #fff;
    margin: 0 auto;
    text-align: left;
    &__wrapper{
        width: 1200px;
        margin: 0 auto;
    }

    &__title {
        color: #333e50;
        font-size: 30px;
        font-weight: 900;
        text-align: left;
    }
    
    &__text {
        color: #333e50;
        font-size: 14px;
        font-weight: 400;
        line-height: 20.02px;
        text-align: left;
    }
}
nav{
    width: 100%;
    border-top: 1px solid #e8ecef;
    border-bottom: 1px solid #e8ecef;
    background-color: #fff;
   overflow: scroll;
}
.menu {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    // padding: 13px 70px;
    list-style-type: none;
    height: 90px;
    max-width: 1200px;
    img{
        margin-top: 12px;
    }
    &__link {
        color: #333e50;
        font-size: 16px;
        font-weight: 900;
        text-decoration: none;
        
        p{
            margin-top: 3px;
        }
        &:hover {
        color: $main-color;
        }
    }
    &__item {
        position: relative;
        text-align: center;
        width: 200px;
        height: 90px;
        &:hover{
            background-color: #f8fbfe; 
            color: $main-color;
            cursor: pointer; 
        }
        span{
            display: block ;
            position: absolute;
            top:7px;
            left: 199px;
            background-color: #f1f4f7; 
            margin-bottom: 2px;
            width: 2px;
            height: 71px;
        }
    }
}