@media (max-width: 85em){
	.mobile{
		display: none;
	}
}
@media (max-width: 75em){
	.menu__item span{
		display: none;
	}
	.menu__item{
		width: 145px;
	}
	.mobile{
		display: none;
	}
}
@media (max-width: 64em){
	.menu__link p {
		display: inline-block;
		position: absolute;
		top: 30px;
		left: 50px;
		text-align: left;
		font-size: 11px;
	}
	.menu__item {
		position: relative;
		width: 117px;
		img{
			position: absolute;
			top: 10px;
			left: 0px;
		}
	}
	
	.sort{
		margin: 10px auto 0;
	}
	.mobile{
		display: none;
	}
	.footer__button{
		float: left;
	}
}
@media (max-width: 48em){
	.container{
		width:90%
	}
	.cards__right{
		display: none;
	}
	.menu__item{
		width: 110px;
	}
	.menu{
		padding-left: 12px;
	}
	.sort{
		height: 40px;
		text-align: left;
		padding-right: 10px;
		&__update{
			padding-left: 30px;
		}
		&__right{
			float: left;
		}
		&__text{
			margin-left: 30px;
		}
		&__show{
			padding-left: 30px;
		}
	}
	.cards__numeral{
		display: none;
	}
	.cards__right span{
		display: none;
	}
	.button_submit{
		display: none;
	}
	.footer__text {
		display: none;
	}
	.mobile{
		display: none;
	}
}
@media (max-width: 32em){
	.cards__right{
		display: block;
	}
	.text_hidden{
		display: none;
	}
	.footer .mobile{
		display: block;
	}
	.mobile{
		display: block;
	}
	.cards__link{
		text-align: left;
		padding-bottom: 20px;
		font-size: 14px;
	}
	.menu__item span{
		display: block;
		left: 150px;
	}
	.arrow_hidden{
		display: block;
		@include arrow-transform;
		position: absolute; 
		top: 7px; 
		left: 100px;
	}
	.menu{
		margin-right: 30px;
	}
	.menu__item{
		display: flex;
		justify-content: space-between;
		width: 150px;
	}
	.container{
		width:90%
	}
	.page{
		background-color: rgba(255,255,255,.0);
		margin: 0 auto;
		
	}
	.cards {
		&_last{
		margin: 21px 0 0;
		}
	}
	.footer__wrapper{
		height: 253px;
	}
	.footer{
		height: 253px;
	}
	.footer__title{
		font-size: 18px;
	}
	.button_main_review{
		position: absolute;
		left: 15px;
		bottom:20px;
	}
	.footer__text{
		display: block;
		font-size: 16px;
		padding-top: 15px;
	}
	.footer__img{
		position: absolute;
		top: 50;
		right: 0px;
	}
	.sort{
		height: 80px;
		padding-left: 0px;
		text-align: left;
		padding-top: 10px;
		&__update{
			padding-left: 0px;
		}
		&__right{
			float: left;
		}
		&__text{
			margin-left: 0px;
			padding-top: 10px;
			display: block;
		}
		&__show{
			padding-left: 0px;
		}

	}
	.dashed{
		padding-top: 10px;
			display: block;
			margin-right: 50px;
	}
	.cards{
		min-height: 490px;
	}
	.cards__right{
		position: absolute;
		right: -50%;
		left: -50%;
		top: 80px;
		display: inline-block;
		margin: 0 auto;
		text-align: center;
		width: 200px;
	}
	
	.cards__title{
		text-align: center;
		margin: 0 auto;

	}
	.span_main{
		padding-top: 5px;
		display: block;
		margin: 0 auto;
	}
	.cards span{
		text-align: center;
	}
	.cards__bottom{
		border: 0px;
	}

	.cards__rating{
		position: relative;
		
	}
	.button_main{
		position: absolute;
		margin: 60px auto 0px;
		display: block;
		
	}
	div.list{
		// border: solid 1px $main-color;
		background-color: #fff;
		outline: none;
		margin-top: 0px;
		margin-left: 0px;
		text-align: left;
		color: #333e50;
		font-size: 16px;
		font-weight: 900;
		position: absolute;
		top: 190px;
		width: 100%;
		left: 0;
		overflow: hidden;

		display: block;
		ul{
			margin: 0;
			padding: 0;
			overflow: auto;
			max-height: 145px;
			list-style: none;
			
		}
		li{
			border-bottom: 1px solid #e8ecef;
			padding: 13px 12px 12px 12px;
			position: relative;
			&:hover{
				background-color: #f6f9fc;
			}
			.list_check{
				display: inline-block;
				background-image: url(../../img/svg/drop.svg);
				width: 10px;
				height: 6px;
				position: absolute;
				right: 15px;
				top: 20px;
				&_hidden{
					display: none;
				}
	
			}	
		}
		a{
			color: #333e50;
		}
		.drop__link a{
			color: #388ec3;
			font-size: 14px;
			font-weight: 400;
			display: block;
			text-align: center;
			padding-top: 10px;
		}	
	}
	.button_main_review{
		position: absolute;
		top: 0px;
		left: 0;
	}
}